  @import "../../scss/variables.scss";
  
  .header {
    margin: $spacing-x3 auto;
    padding-left: $spacing-x5;
    height: $spacing-x6;
    position: absolute;

    &Input {
      background: none;
      border: none;
      outline: none;
      font-size: 25px;
      max-width: 200px;
      border-bottom: 0.2px solid #b9b4b4;

    }&:before {
      content: "Search:";
      font-size: 25px;
      font-weight: bold;
    }
  }
  
  .tableCompanies {
    padding: 0 $spacing-x2;
    margin: 80px auto $spacing-x10 auto;
  }

  .tableCompanies td, th {
    padding: $spacing-x1;
    box-shadow: 0 0 0 0.5px white;
    outline: 0.5px dashed black;
    text-align: left;
    padding-left: $spacing-x2;
  }

  th:first-child:hover {
    color: #e65656;
    cursor: pointer;
  }
